*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 18px;
}

.caja1, .caja2 {
    background: white;
}

.caja2:hover {
    background: red;
}

.caja1:hover {
    background: orchid;
}

.logooo{
    width: 100%;
}

.boton{ 
    background: rgb(173, 130, 21);
    padding: 10px;
    border-radius: 5px;

}

